sudo: false
language: python
cache: pip
dist: xenial
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -U pip setuptools
  # remove pyyaml line when we drop py3.4 support
  - pip install "pyyaml<5.3"
  - pip install tox-travis pre-commit
  - pip install codecov
script:
  - tox
  - pre-commit run --all-files
after_success:
  - codecov
